.hero {
    display: flex;
    position: relative;
    height: 100vh;
    background: linear-gradient(to bottom, #222121, #402722);
    color: #fff;
    overflow: hidden;
}

.hero-image {
    position: absolute;
    top: 0; 
    left: 75%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    /* z-index: 1001; Este valor deve ser maior que o z-index do header */
}

.hero-image img {
    width: auto;
    height: 120vh; 
    object-fit: cover;
    margin-top: -2%; 
    
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 25%;
}

.hero-text span {
    display: block;
    width: 13rem;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color: #fff;
    font-size: 1.2rem;
    background-color: transparent;
    padding: 0.7rem;
    border-radius: 30px;
    border: solid, 2px, #fff;
    margin-bottom: 1rem;
}

.hero-text h1 {
    font-family: "Rowdies", sans-serif;
    color: #D9AE5F;
    font-size: 4.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.hero-text h2 {
    font-family: "Rowdies", sans-serif;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.btn-explore {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; 
    background-color: #f7dfb4;
    width: 18rem;
    height: 4rem;
    border-radius: 10px;
    font-family: "Rowdies", sans-serif;
    color: #402722;
    text-transform: uppercase;
    font-size: 1.5rem;
    border: none;
    padding: 0.7rem;
    box-shadow: 0 5px #bfa070, 0 10px #d0b289;
    position: relative;
    transition: transform 0.1s ease-in-out;
}

.btn-explore:active {
    transform: translateY(5px);
    box-shadow: 0 2px #bfa070, 0 5px #d0b289;
}

.btn-explore span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #402722;
    border-radius: 50%;
    width: 1.5rem; 
    height: 1.5rem; 
    color: #f7dfb4;
    border: none;
}

.hero-testimonials {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    width: 15%;
}

.card {
    width: 12.1875rem; 
    height: 17.8125rem;
    font-family: "Montserrat", sans-serif;
    background-color: #222121;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: 0.2s ease-in-out;
  }
  
  .card img {
    height: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;
    z-index: 1;
    border-radius: 20px;
  }
  
  .textBox {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.2s ease-in-out;
    z-index: 2;
  }
  
  .textBox > .text {
    font-weight: bold;
  }
  
  .textBox > .head {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  .textBox > span {
    font-size: 0.75rem;
    color: #D9AE5F;
  }
  
  .textBox > .post {
    font-size: 1.0625rem;
    text-align: center;
    font-weight: 300;
  }
  
  .card:hover > .textBox {
    opacity: 1;
  }
  
  .card:hover > img {
    height: 100%;
    filter: blur(7px);
  }
  
  .card:hover {
    transform: scale(1.04) rotate(-1deg);
  }
  
  
