@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Bebas+Neue&family=Bubblegum+Sans&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap');
@import url('header.css');
@import url('home.css');
@import url('footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%; 
}

body {
    height: 100%; 
}

.logo-site a {
    color: #fff;
    text-decoration: none;
}